 <div class="content-wrapper">
     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-4" style="color: white">Página de Contacto</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
                <li class="breadcrumb-item">
                    <a href="/home/index">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/home/logout">Salir</a>
                </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
   
    <div class="content" style="color: white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="width: 1080px">
                <div class="card-body">
                  
                    <div class="container">
                        <div class="row justify-content-md-center">
                             
                            <div class="col-md-4">
                                 <br>
                                 <br>
                                 
                                <h3>@ViewBag.Message</h3>
                                 <address>
                                     Policía Nacional del Peru<br/>
                                     UNITIC, PNP 076-323413<br/>
                                        <abbr title="Telefono">Para consultas: 
                                        <br>
                                        </abbr>
                                     957873322

                                 </address>
                                 
                                    <br>
                                    <br>

                                <div>
                                    <img src="/img/pnpactual.png" alt="" width="110" class="mx-4 d-block"/>
                                </div>

                            </div>
                            
                            <div class="col-md-4">
                                <br>
                                <br>

                                <address>
                                    <strong>UNITIC : </strong> <a href="mail:unitic@policia.gob.pe"> unitic@policia.gob.pe</a><br/>
                                    <strong>SISTEMAS : </strong> <a href="mail:sistemas@policia.gob.pe"> sistemas@policia.gob.pe</a><br/>
                                    <strong>CEOPOL : </strong> <a href="mail:ceopol@policia.gob.pe"> ceopol@policia.gob.pe</a>
                                </address>
                            </div>


                        </div>
                        </div>
                    </div>

                </div>
          </div>
         
        </div>
       
      </div>
    </div>
    
  </div>
 