@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="color: white">
    
    <div class="col-sm-12" >
        <center>
            <h1 class="titulo"> SISTEMAS PNP </h1>
        </center>
    </div>
    
    <div class="container" >
        <div class="row justify-content-md-center">
        <div class="col mb-4">
            <div class="card-header" style="width: 24rem;">
                <a target="_blank" href="https://sistemas.policia.gob.pe/denuncias/Login.aspx" class="custom-card" onclick="" ;="">
                    <img src="img/SIDPOL.jpg" class="card-img-top" alt="SIDPOL">
                </a>
                <div class="card-footer border-success text-center">
                    <div class="name">
                        <strong>SIDPOL</strong>
                    </div>
                    
                </div>
                
            </div>
            </div>
            
            <div class="col mb-4">
            <div class="card-header" style="width: 24rem;">
                
                <a target="_blank" href="https://sinpol.pnp.gob.pe/esinpol/" class="custom-card" onclick="" ;="">
                    <img src="img/ESINPOL.jpg" class="card-img-top" alt="ESINPOL">
                </a>
                <div class="card-footer border-success text-center">
                    <div class="name">
                        <strong>ESINPOL</strong>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="col mb-4">
                <div class="card-header" style="width: 24rem;">
                    <a target="_blank" href="https://sistemas1.policia.gob.pe/cenopol/login" class="custom-card" onclick="" ;="">
                        <img src="img/SICPIP.jpg" class="card-img-top" alt="SIGPIP">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>SIGPIP</strong>
                        </div>
                    </div>
                </div>
                </div>
            
            <div class="col mb-4">
                <div class="card-header" style="width: 24rem;">
                
                    <a target="_blank" href="https://denuncias.pnp.gob.pe/Dirincri/" class="custom-card" onclick="" ;="">
                        <img src="img/SIRDIC.jpg" class="card-img-top" alt="SIRDIC">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>SIRDIC</strong>
                        </div>
                    </div>
                </div>
                </div>
            
            <div class="col mb-4">    
                <div class="card-header" style="width: 24rem;">
                
                    <a target="_blank" href="https://correo.policia.gob.pe/owa/auth/logon.aspx" class="custom-card" onclick="" ;="">
                        <img src="img/CORREO-PNP.jpg" class="card-img-top" alt="CORREO">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>CORREO</strong>
                        </div>
                    </div>
                </div>
                </div>
                
            <div class="col mb-4">
                <div class="card-header" style="width: 24rem;">
                    <a target="_blank" href="https://sigcpd.policia.gob.pe/sigcp/login.aspx" class="custom-card" onclick="" ;="">
                        <img src="img/SIGCP.jpg" class="card-img-top" alt="SIGCP">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>SIGCP</strong>
                        </div>
                    </div>
                </div>
                </div>
                
            <div class="col mb-4">
                <div class="card-header" style="width: 24rem;">
                
                    <a target="_blank" href="https://intranet.pnp.gob.pe/usuariosintranet/acceso3.aspx" class="custom-card" onclick="" ;="">
                        <img src="img/INTRANET-PNP.jpg" class="card-img-top" alt="INTRANET">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>INTRANET</strong>
                        </div>
                    </div>
                </div>
                </div>
                
            <div class="col mb-4">
                <div class="card-header" style="width: 24rem;">
                
                    <a target="_blank" href="https://siup.policia.gob.pe/#/login" class="custom-card" onclick="" ;="">
                        <img src="img/SIUP.jpg" class="card-img-top" alt="SIUP">
                    </a>
                    <div class="card-footer border-success text-center">
                        <div class="name">
                            <strong>SIUP</strong>
                        </div>
                    </div>
                </div>
                </div>
                
            <div class="col mb-4">
            <div class="card-header" style="width: 24rem;">
                <a target="_blank" href="https://web.policia.gob.pe/direcfin/planillavirtual/login.aspx" class="custom-card" onclick="" ;="">
                    <img src="img/PLANILLA-PNP.jpg" class="card-img-top" alt="PLANILLA">
                </a>
                <div class="card-footer border-success text-center">
                    <div class="name">
                        <strong>PLANILLA VIRTUAL</strong>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>


</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="dist/coreNavigation-1.1.3.min.js"></script>
























<!-- Código de instalación Cliengo para jhersonhuaman6@gmail.com --> 
<script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; 
    ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/62901794604415002a06a778/62901796604415002a06a77b.js?platform=dashboard'; 
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>